.container {
  width: 600px;
  height: 50%;
  border-radius: 10px;
}

.container__main {
  display: flex;
}

.container__tabs {
  display: flex;
  justify-content: space-between;
}

.narrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 50px 10px;
  background: #EEE;
  box-sizing: border-box;
}

.wide {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
}