.container {
  display: flex;
  width: 600px;
  height: 50%;
  border-radius: 10px;
}

.narrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 10px;
  background: #EEE;
  box-sizing: border-box;
}

.wide {
  display: flex;
  flex: 1;
  background: #F5F5F5;
  align-items: center;
  justify-content: center;
}